{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">My Khejass</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for khejas in khejass %}
                <div>
                    <a href="{% url 'khejas:detail' khejas.id %}">
                        <div>
                            {% if khejas.image and khejas.image.exists %}
                                <img src="{{ khejas.image.url }}" class="rounded-t-xl">
                            {% else %}
                                <img src="khejas/media/image.jpg" class="rounded-t-xl" alt="Default Image">
                            {% endif %}
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ khejas.name }}</h2>
                            <p class="text-gray-500">Rent: {{ khejas.rent }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}